// Place all the styles related to the computed_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#upcoming-events-table {
  tbody tr {
    max-height: 34px;
  }
  span.event{
    display: block;
  }
  .char {
    width: 5%;
  }
  .char-name {
    width: 12%;
  }
  .signup {
    width: 11%;
  }
  .signup.past {
    width: 9%;
  }

  td.signup {
    .editable-container {
      margin: -5px;
    }
  }

  td span {
    width: 100%;
    display: block;
  }

  .past {
    opacity: 0.4;
  }
  .upcoming {
    font-weight: bold;
  }

  .available {
    color: green;
  }
  .unavailable {
    color: red;
  }
  .tentative {
    color: orange;
  }
}
