// Place all the styles related to the computed_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#upcoming-events-table {
  span.event{
    display: block;
  }
  .char {
    width: 6%;
  }
  .char-name {
    width: 11.5%;
  }
  .signup {
    width: 10.5%;
  }
  .signup.past {
    width: 9%
  }

  .past {
    color: grey;
  }
  .upcoming {
    font-weight: bold;
  }

  .available {
    color: green;
  }
  .unavailable {
    color: red;
  }
  .tentative {
    color: orange;
  }
}
