// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-editable";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Forms
.form-inline .form-group {
  vertical-align: Top;
  padding-right: 10px;
}

.authform {
  max-width: 450px;
}
#error_explanation {
  border-radius: 4px;
}

.field_with_errors:first-child {
  margin-bottom: -4px;
  padding-left: 5px;
}
.field_with_errors{
  display: inherit !important;
  border-radius: 4px;
}

input.form-control.small {
  display: inline-block;
  padding: 3px 6px 3px 6px;
  height: auto;
  width: 60%;
  font-size: 85%;
}

.editable-click {
  border-bottom: 0px !important;
}

.editable-container {
  margin: -4px;
}

span.icon {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 5px !important;
  color: grey;
}

.edit-list {
  dt, dd {
    line-height: 2em;
  }
  dt {
    width: 80px;
  }
  dd {
    margin-left: 100px;
  }
}

.dl-pref {
  dt, dd {
    line-height: 2em;
  }
  dt {
    width: 220px;
  }
  dd {
    margin-left: 240px;
  }
}
.need {
  color: blue;
}
.gear {
  color: green;
}
.want {
  color: orange;
}
.skip {
  color: red;
}

.starting_lineup {
  color: green;
}
.benched {
  color: orange;
}
.sitting_out {
  color: red;
}

ul.list-two {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  li {
    height: 30px;
    vertical-align: middle;
  }
}

dd.signup-status {
  margin-top: 10px;
  margin-bottom: 10px;
}
