// Adjust input padding for inline-edit tables
table.rip {
  tr {
    height: 34px;
    input {
      padding: 3px 6px 3px 6px;
    }
  }
  td span {
    padding: 0px;
  }
}

.tablesorter-header-inner {
  padding-right: 4px !important;
}

#upcoming-events-table {
  .event {
    line-height: 105%;
  }
  td {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  tr {
    height: 32px;
  }
  .char {
    width: 5%;
    max-width: 5%;
  }
  .char-name {
    width: 11%;
    max-width: 11%;
  }
  .signup {
    width: 14%;
    max-width: 14%;
  }
  .signup.past {
    width: 9%;
    max-width: 9%;
  }
  span.signup {
    vertical-align: top;
    width: 80px;
  }
  .past {
    opacity: 0.4;
  }
  .table-row{
    display: inline-block;
  }
  .note {
    white-space: normal;
    display: inline-block;
    font-size: 85%;
    padding-left: 5px;
  }
}

// Widths for tables to make inline-editing smooother
#user-table {
  td {
    width: 25%;
  }
}

#character-table {
  tr td:first-child {
    width: 24%;
  }
  tr td {
    width: 19%;
  }
  span.action {
    padding-right: 4px;
  }
}

#events-table {
  tr td:first-child {
    width: 21%;
  }
  tr td:nth-child(5) {
    width: 8%;
  }
  tr td:last-child {
    width: 8%;
  }
  tr td.date {
    width: 21%;
  }
}

#team-table {
  tr td:first-child {
    width: 35%;
  }
  tr td {
    width: 25%;
  }
}


// Signup Status table
// Has a bunch of extra classes to more reliably override bootstrap
.table.table-condensed.status-table {
  // Display raid date/name/weekday in seperate lines
  th span {
    display: block;
    text-align: center;
  }

  // Center signup status
  td {
    text-align: center;
    width: 60px;
    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
    }
  }

  // Alignment for Status column
  td:first-child {
    text-align: right;
    padding-right: 15px;
    width: 100px;
  }

  // Display borders for every event
  td:nth-child(4n+2) {
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color: grey;
  }
}
.not_started {
  color: red;
}
.progression {
  color: orange;
}
.killed {
  color: green;
}
// Signup Status colors
.available {
  color: green;
}
.unavailable {
  color: red;
}
.tentative {
  color: orange;
}

#raid-progression-table {
  td:first-child {
    width: 220px;
  }
  td {
    width: 195px;
  }
}
